@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,button,input{
    font-family: 'Merriweather', serif;
}

body{
    max-width: 100vw;
    max-height: 100vw;
    overflow: hidden;
}